$accent: #f25b24;
$light: #f6f5f9;
$title: #2e2d35;
$text: #474351;
$secondary: #918d9a;

%segoeui {
  font-family: "SegoeUI", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%segoeui-semibold {
  font-family: "SegoeUI-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
}
%whitneybook {
  font-family: "Whitney-Book", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%whitneymedium {
  font-family: "Whitney-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}
%whitneysemibold {
  font-family: "Whitney-Semibold", sans-serif;
  font-style: normal;
  font-weight: 600;
}
%bg {
  background: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
}
